/src/TestesSoftware.Domain.Models/bin/Debug/netcoreapp1.1
/src/TestesSoftware.Domain.Models/obj/Debug/netcoreapp1.1
/src/TestesSoftware.Domain.Models/obj
/src/TestesSoftware.Infra.Repository/bin/Debug/netcoreapp1.1
/src/TestesSoftware.Infra.Repository/obj/Debug/netcoreapp1.1
/src/TestesSoftware.Infra.Repository/obj
/src/TestesSoftware.Tests.MSTest/bin/Debug/netcoreapp1.1
/src/TestesSoftware.Tests.MSTest/obj/Debug/netcoreapp1.1
/src/TestesSoftware.Tests.MSTest/obj
/src/TestesSoftware.Tests.xUnit/bin/Debug/netcoreapp1.1
/src/TestesSoftware.Tests.xUnit/obj/Debug/netcoreapp1.1
/src/TestesSoftware.Tests.xUnit/obj
